@charset "UTF-8";

main { 
    margin: auto;
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

img {
    margin-left: 45px;
    height: 55px;
}

header {
    margin-bottom: 20px;
    box-shadow: 0px 55px 0px 0px rgba(121, 121, 121, 0.164);
    padding: 8px; 
}

main h1 {
    font-weight: 900;
    color: rgba(54, 54, 54, 0.89);
    font-size: 1.8em;
    padding-top: 65px;
}

header > nav > a:hover {
    text-decoration: none;
    background-color: rgba(26, 199, 252, 0.89);
    color: aliceblue;

}

header > nav {
    border-radius: 0px;
    font-size: 12px;
    padding: 19px 17px 17px;
    line-height: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
    margin-top: -50px;
    margin-right: 60px;
}

header > nav > a {
    padding: 13px;
}

div.selecao {
    margin-left: 35px;
}

div.campos > label {
    margin-right: 70px;
}

footer {
    margin: auto;
    text-align: left;
    max-width: 1000px;
}